/** search stuff **/
.search-wrapper input {
  background-color: transparent;
  background-image: none;
  border: 1px solid currentColor;
  display: block;
  height: 3rem;
  font-size: 1.25rem;
  line-height: 3rem;
  padding: .5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1.5rem;
  width: 100%;
}
