.showItem {
  background-color: white;
  transition: all 400ms;
  z-index: 1;
}

.showItem:hover {
  box-shadow: 0 0 1em;
  z-index: 9;
  cursor: pointer;
  transform: scale(1.1,1.1);
  z-index: 10;
}

.item h1 {
  font-size: 1.618rem;
}
.item h2 {
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.item h3 {
  font-size: 1rem;
  margin-bottom: 0;
}
