.showItem {
  background-color: rgba(254, 219, 0, 0);
  transition: all 400ms;
  z-index: 1;
}

.item-grid .showItem.item {
  padding-bottom: 2rem;
}

.showItem:hover {
  background-color: rgba(255, 253, 244, 1);
  box-shadow: 0 0 1em 0 #211a00;
  cursor: pointer;
  z-index: 10;
}

.item h1 {
  font-size: 1.8rem;
}
.item h2 {
  font-size: 1rem;
}
.item h3 {
  font-size: 1rem;
  margin-bottom: 0;
}
