.editable-click,
.editable-parent,
.editable-row,
.editable-buttons,
.btn-secret,
.editable-row > input,
.editable-fixed-value {
  font-size: 1rem;
  line-height: 1.4rem;
}

.editable-click,
.editable-parent,
.editable-row,
.editable-buttons {
  display:inline-block;
  position: relative;
  min-height: calc(1.4rem + 2px);
}

.btn-secret,
.editable-row > input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fedb00;
  padding:0;
  transition: all 300ms;
  cursor: pointer;
}

.btn-secret,
.editable-row > input,
.editable-fixed-value {
  margin-left: .5rem;
}

.btn-secret:focus,
.editable-row > input:focus {
  background-color: #fedb00;
  outline-color: #fedb00;
  padding-left: .3rem;
  padding-right: .3rem;
}

.editable-buttons {
  margin-left: .3rem;
}

/** trying to figure out a good help text solution? **/
/** how to make this reusable??? **/
/** is this more of a tooltip? not just a help-block?**/
.help-block {
  position: absolute;
  top:1.7em;
  z-index: 1000000;
  padding: .3em .5em;
  color: #fffdf4;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  background-color: rgba(50, 43, 0, .8);
  border-radius: .25em;
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: 0 0 .2em 0 rgba(50, 43, 0, .2);
}

.help-block::before {
  position: absolute;
  top: -.5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000001;
  width: 0;
  height: 0;
  pointer-events: none;
  border: .25em solid transparent;
  border-bottom-color: rgba(50, 43, 0, .8);
  color: rgba(50, 43, 0, .8);
  content: '';
}
