.editable-click,
.editable-parent,
.editable-row,
.editable-buttons {
  display:inline-block;
  position: relative;
}

.btn-secret,
.editable-row > input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fedb00;
  font-size: 1rem;
  line-height: 1.4;
  padding:0;
  margin-left: .5rem;
  transition: all 300ms;
  cursor: pointer;
}

.btn-secret:focus,
.editable-row > input:focus {
  background-color: #fedb00;
  outline-color: #fedb00;
  padding-left: .3rem;
  padding-right: .3rem;
}

.editable-buttons {
  margin-left: .3rem;
}

.help-block {
  position: absolute;
  z-index: 1000000;
  padding: .3em .5em;
  color: yellow;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  background: black;
  border-radius: .25em;
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: 0 0 .25em 0 rgba(0,0,0,.3);
}

.help-block::before {
  position: absolute;
  top: -.5em;
  left: 50%;
  z-index: 1000001;
  width: 0;
  height: 0;
  color: black;
  pointer-events: none;
  border: 5px solid transparent;
  border-bottom-color: black;
  content: '';
  transform: translateX(-50%);
}
