.editable-click,
.editable-parent,
.editable-row,
.editable-buttons,
.btn-secret,
.editable-row > input,
.editable-fixed-value {
  font-size: 1rem;
  line-height: 1.4rem;
}

.editable-click,
.editable-parent,
.editable-row,
.editable-buttons {
  display:inline-block;
  position: relative;
  min-height: calc(1.4rem + 2px);
}

.btn-secret,
.editable-row > input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fedb00;
  padding:0;
  transition: all 300ms;
  cursor: pointer;
}

.btn-secret,
.editable-row > input,
.editable-fixed-value {
  margin-left: .5rem;
}

.btn-secret:focus,
.editable-row > input:focus {
  background-color: #fedb00;
  outline-color: #fedb00;
  padding-left: .3rem;
  padding-right: .3rem;
}

.editable-buttons {
  margin-left: .3rem;
}

/*.editable-empty,
.editable-empty .btn-secret {
  color: gray;
}*/
