detail {
  background-color: #fffdf4;
  border: 1rem solid #fedb00;
  /*box-shadow: inset 0px 0px 1em rgba(0,0,0,.5);*/
  display: block;
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

detail .close {
  top: .5rem;
  left: .5rem;
  z-index: 999;
}

detail .flex {
  display: flex;
  flex-direction: column;
}

detail .flex > div {
  flex: 1;
}

detail .flex > .mainContent {
  padding: 2rem;
  padding-top: 4rem;
}

detail .google-map-container  {
  height: 60%;
  height: 60vh;
}

/** skinny mode stacking order **/
detail .mainContent {
  order: 1;
}
detail .studentList {
  font-size: .8rem;
  order: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

detail .studentList > ul {
  width: 50%;
}

detail .google-map-container {
  order: 2;
}

@media (min-width: 600px ) and (max-width: 767.99px ) {
  detail .studentList > ul {
    width: calc(100% / 3);
  }
}

@media (min-width: 768px ) {
  detail .flex {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: calc(100vh - 2em);
  }
  detail .flex > .mainContent {
    padding-top: 2rem;
  }
  detail .studentList > ul {
    width: 50%;
  }
}

@media (min-width: 768px ) and (max-width: 999.99px ) {
  /** medium mode stacking order **/
  detail .mainContent {
    order: 2;
  }
  detail .studentList {
    order: 3;
  }
  detail .google-map-container {
    order: 1;
  }

  /** all other designs/flex stuff **/
  detail .mainContent {
    flex: 2;
    width: calc(100% / 3 * 2);
  }
  detail .studentList {
    flex: 1;
    width: calc(100% / 3);
  }
  detail .flex > .google-map-container {
    flex: none;
    width: 100%;
  }
}

@media (min-width: 1000px ){
  /** wide mode stacking order **/
  detail .mainContent {
    order: 1;
  }
  detail .studentList {
    order: 2;
  }
  detail .google-map-container {
    order: 3;
  }

  detail .mainContent,
  detail .google-map-container {
    min-height: calc(100vh - 2em);
  }
  detail .flex > .mainContent {
    flex: 2;
    height: calc(100vh - 2rem);
    width: auto;
    overflow: auto;
    padding-top: 4rem;
    position: relative;
  }
  /*detail .flex > .studentList {
    flex: 1;
    align-self: flex-end;
    width: calc(100% / 6 * 1);
    max-height: calc(100vh - 4rem);
    overflow: auto;
    padding-bottom: 2rem;
  }*/
  detail .studentList {
    display: block;
  }
  detail .studentList > ul {
    width: 100%;
  }
  /*temporary*/
  .recy5OLOvJNnpWuAD detail .studentList {
    position: absolute;
    right: 2rem;
    top: -460%;
    margin-bottom: 4rem;
  }
  detail .flex > .google-map-container {
    flex: 3;
    height: calc(100vh - 2rem);
    width: auto;
  }

}

/** map stuff **/
.mapPopup {
  background: white;
  width: 200px;
  z-index: 20;
  text-align: center;
  bottom: 1em;
  left:-25px;
  position: absolute;
  box-sizing: border-box;
  padding: 1rem 1rem 1.25rem 1rem;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,.33);
}

.mapPopup::before {
  background: white;
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -.5rem;
  left: 29px;
  z-index: 19;
  content: '';
}

.galleryLocation .mapPopup {
  display: none;
}
.galleryLocation:hover .mapPopup {
  display: block;
}
