.filmfest ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-section {
  margin-top: 1rem;
  font-weight: bold;
}

.filmTitle {
  font-style: italic;
}

@media (max-width: 36em) {
  .mainContent {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
