/**Anythingspecial?**/
.menu,
.menu > li a,
.menu > li button {
  text-align: center;
}

@media (min-width: 40rem) {
  .menu {
    display: flex;
  }
  .menu > li {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }
}

@media (max-width: 39.999rem) {
  .menu > li a,
  .menu > li button {
    width: 100%;
  }
}
