/** Header.css **/
#siteHeader nav {
  display: block;
}

#siteHeader .mgsLogo {
  width: 100%;
  height:auto;
}

.menu,
.menu > li,
.menu > li a,
.menu > li button {
  text-align: center;
  color: #211a00;
  transition: all 333ms;
}

.menu > .home a,
.menu > .students a,
.menu > .studentList a {
  background-color: #fff198;
  border: 1px solid;
  display: block;
  padding: 1rem;
}

.menu > .home a:hover,
.menu > .students a:hover,
.menu > .studentList a:hover {
  background-color: #211a00;
  color: #fffdf4;
  border-color:#211a00;
}

.menu > .home.active a,
.menu > .students.active a,
.menu > .studentList.active a {
  background-color: transparent;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: inherit;
}

.menu > .home a {
  border-left: none;
}
.menu > .students a,
.menu > .studentList a {
  border-right: none;
}

.menu .auth,
.menu .me,
.menu .logout {
  text-align: right;
  position: absolute;
  right: 1rem;
}

.menu .auth a:hover,
.menu .me a:hover,
.menu .logout a:hover,
.menu .auth button:hover,
.menu .me button:hover,
.menu .logout button:hover {
  border-bottom: 1px solid;
  color: #655700;
  cursor: pointer;
}

.menu .auth,
.menu .me { top: 2rem; }
.menu .logout { top: 3rem;}

.menu .auth,
.menu .me,
.menu .logout,
.menu .auth button,
.menu .me button,
.menu .logout button {
  font-family: inherit;
  font-size: .8rem;
}

.menu {
  display: flex;
}
.menu > li {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}
