/** Header.css **/
#siteHeader nav {
  max-width: 30rem;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#siteHeader .mgsLogo {
  width: 100%;
  height:auto;
  margin-bottom: 2rem;
}

#siteHeader .menu {
  border-top: 1px solid;
}

.menu,
.menu > li,
.menu > li a,
.menu > li button {
  text-align: center;
  color: #211a00;
  transition: all 333ms;
}

.menu > .home a:hover,
.menu > .students a:hover {
  background-color: #211a00;
  color: #fffdf4;
}

.menu .auth,
.menu .me,
.menu .logout {
  text-align: right;
  position: absolute;
  right: 1rem;
}

.menu .auth,
.menu .me { top: 2rem; }
.menu .logout { top: 3rem;}

.menu .auth,
.menu .me,
.menu .logout,
.menu .auth button,
.menu .me button,
.menu .logout button {
  font-family: inherit;
  font-size: .8rem;
}


.menu > .home a,
.menu > .students a {
  padding: 1rem;
  display: block;
}

.menu > .home.active a::after,
.menu > .students.active a::after {
  font-family: 'MicaGradShow';
  content: '\f05c';
  display: block;
  height: 0;
  position: relative;
  top:-3px;
}

.menu {
  display: flex;
}
.menu > li {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}
