footer {
  line-height: 1.4;
}
footer a {
  color:black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

footer a:hover {
  border-bottom-color: #fffdf4;
}

footer .social a:hover {
  border-bottom-color: transparent;
  color:white;
}


flex section {
  flex: 3;
  padding: 1em;
}

flex section.archive,
flex section.social {
  flex: 1;
}

footer .mica.logo {
  padding-top: 0;
  padding-right: 3em;
}
