.group {
  margin-left: -1rem;
  margin-right: -1rem;
  flex-direction: column;
}

@media (min-width: 50rem) {
  .group {
    flex-direction: row;
  }
}

/** search stuff **/
.search-wrapper {
  position: relative;
  width: 100%;
}
@media (min-width: 50rem) {
  .search-wrapper {
    width: 60%;
  }
}

.search-wrapper input {
  background-color: transparent;
  background-image: none;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  display: block;
  height: 3rem;
  font-size: 1.25rem;
  line-height: 3rem;
  width: 100%;
  padding: .5rem 2rem .5rem 4rem;
  transition: all 300ms;
  position: relative;
  z-index: 1;
}
@media (max-width: 49.999rem) {
  #studentList .search-wrapper input {
    border-bottom: none;
  }
}

.search-wrapper input:focus {
  background-color: rgba(255, 253, 244, 1);
  border-color: rgba(255, 253, 244, 1);
  outline-color: rgba(255, 253, 244, 0.5);
}

.search-wrapper input:focus ~ i {
  color: white;
}

/** selection picker, where to put this instead? **/
.customSelect {
  display:block;
  position: relative;
  width: 100%;
}
@media (min-width: 50rem) {
  .customSelect {
    width: 40%;
  }
}

.customSelect select {
  position: relative;
  margin: 0;
  background-color: transparent;
  background-image: none;
  width: 100%;
  padding: 0;
  font-size: 1rem;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding-left: 1rem;
  border-radius: 0;
  height: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1;
}
@media (max-width: 49.999rem) {
.customSelect select {
    border-left: none;
  }
}

.customSelect::after {
  background-color: transparent;
  display:block;
  position: absolute;
  right: 0;
  top:0;
  height: 3rem;
  width: 1em;
  line-height: 3rem;
  font-family: 'MicaGradShow';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-rendering: auto;
  content: '\f05c';
  font-size: 3rem;
  z-index: 2;
  border-left: 1px solid black;
  text-align: center;
  pointer-events: none;
}

.customSelect select:focus {
  background-color: rgba(255, 253, 244, 1);
  border-color: rgba(255, 253, 244, 1);
  border-left-color:black;
  outline-color: rgba(255, 253, 244, 0.5);
}

.customSelect:hover,
.customSelect select:hover {
  cursor:pointer;
}
.customSelect:hover::after {
  color:rgba(254,219,0,1);
  background-color: #211a00;
}
